# gitignore

# system file
.DS_Store
.idea/

__pycache__/

# raw data
media/
dataset/
data/
param/

# binary file
*.png
*.jpg
*.gif
*.mov
*.pdf

# latex related
build/
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.toc.vrb
*.vrb
*.bbl
*.bcf
*.run.xml
*.blg

*cls
*xdy
*gz